USE [master]
GO
/****** Object:  Database [SystemHotelManagement]    Script Date: 1/18/2026 11:17:02 PM ******/
CREATE DATABASE [SystemHotelManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SystemHotelManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER1\MSSQL\DATA\SystemHotelManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SystemHotelManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER1\MSSQL\DATA\SystemHotelManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SystemHotelManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SystemHotelManagement]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 1/18/2026 11:17:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[AccountId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[PasswordSalt] [nvarchar](255) NULL,
	[IsLocked] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attendances]    Script Date: 1/18/2026 11:17:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendances](
	[AttendanceId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[WorkDate] [date] NOT NULL,
	[IsPresent] [bit] NOT NULL,
	[WorkHours] [decimal](5, 2) NULL,
	[Note] [nvarchar](300) NULL,
	[MarkedBy] [int] NULL,
	[MarkedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AttendanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingGuests]    Script Date: 1/18/2026 11:17:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingGuests](
	[BookingGuestId] [int] IDENTITY(1,1) NOT NULL,
	[BookingId] [int] NOT NULL,
	[GuestName] [nvarchar](100) NOT NULL,
	[IdNumber] [nvarchar](30) NULL,
	[Phone] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingGuestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 1/18/2026 11:17:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[BookingId] [int] IDENTITY(1,1) NOT NULL,
	[RoomId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[CheckInPlan] [datetime2](7) NOT NULL,
	[CheckOutPlan] [datetime2](7) NULL,
	[CheckInAt] [datetime2](7) NULL,
	[CheckOutAt] [datetime2](7) NULL,
	[Status] [tinyint] NOT NULL,
	[Deposit] [decimal](18, 2) NOT NULL,
	[Note] [nvarchar](255) NULL,
	[CreatedBy] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CashTransactions]    Script Date: 1/18/2026 11:17:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CashTransactions](
	[TransactionId] [int] IDENTITY(1,1) NOT NULL,
	[Type] [tinyint] NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[TransactionDate] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 1/18/2026 11:17:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[IdNumber] [nvarchar](30) NULL,
	[Address] [nvarchar](255) NULL,
	[IsMember] [bit] NOT NULL,
	[MemberLevel] [nvarchar](30) NULL,
	[Points] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeHourlyRateOverrides]    Script Date: 1/18/2026 11:17:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeHourlyRateOverrides](
	[OverrideId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[HourlyRate] [decimal](18, 2) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OverrideId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeHourlyRates]    Script Date: 1/18/2026 11:17:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeHourlyRates](
	[RateId] [int] IDENTITY(1,1) NOT NULL,
	[Role] [nvarchar](100) NOT NULL,
	[HourlyRate] [decimal](18, 2) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 1/18/2026 11:17:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeId] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[Role] [nvarchar](30) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[HiredDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 1/18/2026 11:17:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[BookingId] [int] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Method] [nvarchar](20) NOT NULL,
	[PaidAt] [datetime2](7) NOT NULL,
	[ReceivedBy] [int] NULL,
	[Note] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PayRunDetails]    Script Date: 1/18/2026 11:17:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PayRunDetails](
	[PayRunDetailId] [int] IDENTITY(1,1) NOT NULL,
	[PayRunId] [int] NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[TotalHours] [decimal](8, 2) NOT NULL,
	[HourlyRate] [decimal](18, 2) NOT NULL,
	[TotalPay] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PayRunDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PayRuns]    Script Date: 1/18/2026 11:17:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PayRuns](
	[PayRunId] [int] IDENTITY(1,1) NOT NULL,
	[DateFrom] [date] NOT NULL,
	[DateTo] [date] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[CreatedBy] [int] NULL,
	[Note] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[PayRunId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 1/18/2026 11:17:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[RoomId] [int] IDENTITY(1,1) NOT NULL,
	[RoomCode] [nvarchar](20) NOT NULL,
	[RoomTypeId] [int] NOT NULL,
	[Floor] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[RoomStatus] [tinyint] NOT NULL,
	[Note] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoomTypes]    Script Date: 1/18/2026 11:17:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomTypes](
	[RoomTypeId] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](50) NOT NULL,
	[BasePrice] [decimal](18, 2) NOT NULL,
	[Capacity] [int] NOT NULL,
	[Note] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 1/18/2026 11:17:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[ServiceId] [int] IDENTITY(1,1) NOT NULL,
	[ServiceName] [nvarchar](100) NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceUsages]    Script Date: 1/18/2026 11:17:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceUsages](
	[ServiceUsageId] [int] IDENTITY(1,1) NOT NULL,
	[BookingId] [int] NOT NULL,
	[ServiceId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[UsedAt] [datetime2](7) NOT NULL,
	[Note] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceUsageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockImportItems]    Script Date: 1/18/2026 11:17:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockImportItems](
	[ImportItemId] [int] IDENTITY(1,1) NOT NULL,
	[ImportId] [int] NOT NULL,
	[ItemName] [nvarchar](200) NOT NULL,
	[Unit] [nvarchar](50) NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](18, 2) NOT NULL,
	[LineTotal]  AS (CONVERT([decimal](18,2),[Quantity]*[UnitPrice])) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[ImportItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockImports]    Script Date: 1/18/2026 11:17:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockImports](
	[ImportId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[ImportDate] [datetime2](7) NOT NULL,
	[SupplierName] [nvarchar](200) NOT NULL,
	[SupplierPhone] [nvarchar](30) NULL,
	[SupplierEmail] [nvarchar](200) NULL,
	[SupplierAddress] [nvarchar](300) NULL,
	[Note] [nvarchar](500) NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ImportId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Accounts] ON 

INSERT [dbo].[Accounts] ([AccountId], [EmployeeId], [Username], [PasswordHash], [PasswordSalt], [IsLocked]) VALUES (1, 1, N'admin', N'123456', NULL, 0)
INSERT [dbo].[Accounts] ([AccountId], [EmployeeId], [Username], [PasswordHash], [PasswordSalt], [IsLocked]) VALUES (2, 2, N'letan', N'123456', NULL, 0)
INSERT [dbo].[Accounts] ([AccountId], [EmployeeId], [Username], [PasswordHash], [PasswordSalt], [IsLocked]) VALUES (3, 3, N'ketoan', N'123456', NULL, 0)
SET IDENTITY_INSERT [dbo].[Accounts] OFF
GO
SET IDENTITY_INSERT [dbo].[Attendances] ON 

INSERT [dbo].[Attendances] ([AttendanceId], [EmployeeId], [WorkDate], [IsPresent], [WorkHours], [Note], [MarkedBy], [MarkedAt]) VALUES (1, 3, CAST(N'2026-01-18' AS Date), 1, CAST(7.43 AS Decimal(5, 2)), NULL, NULL, CAST(N'2026-01-18T04:30:49.9634586' AS DateTime2))
INSERT [dbo].[Attendances] ([AttendanceId], [EmployeeId], [WorkDate], [IsPresent], [WorkHours], [Note], [MarkedBy], [MarkedAt]) VALUES (2, 1, CAST(N'2026-01-18' AS Date), 1, CAST(7.25 AS Decimal(5, 2)), NULL, NULL, CAST(N'2026-01-18T04:30:49.9639191' AS DateTime2))
INSERT [dbo].[Attendances] ([AttendanceId], [EmployeeId], [WorkDate], [IsPresent], [WorkHours], [Note], [MarkedBy], [MarkedAt]) VALUES (3, 4, CAST(N'2026-01-18' AS Date), 1, CAST(7.30 AS Decimal(5, 2)), NULL, NULL, CAST(N'2026-01-18T04:30:49.9642816' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Attendances] OFF
GO
SET IDENTITY_INSERT [dbo].[BookingGuests] ON 

INSERT [dbo].[BookingGuests] ([BookingGuestId], [BookingId], [GuestName], [IdNumber], [Phone]) VALUES (1, 1, N'ẩn danh', NULL, N'null')
INSERT [dbo].[BookingGuests] ([BookingGuestId], [BookingId], [GuestName], [IdNumber], [Phone]) VALUES (2, 2, N'ẩn danh', NULL, N'null')
INSERT [dbo].[BookingGuests] ([BookingGuestId], [BookingId], [GuestName], [IdNumber], [Phone]) VALUES (3, 3, N'ẩn danh', NULL, N'null')
SET IDENTITY_INSERT [dbo].[BookingGuests] OFF
GO
SET IDENTITY_INSERT [dbo].[Bookings] ON 

INSERT [dbo].[Bookings] ([BookingId], [RoomId], [CustomerId], [CheckInPlan], [CheckOutPlan], [CheckInAt], [CheckOutAt], [Status], [Deposit], [Note], [CreatedBy], [CreatedAt]) VALUES (1, 1, 1, CAST(N'2026-01-17T18:07:44.3730563' AS DateTime2), CAST(N'2026-01-17T20:07:44.3730563' AS DateTime2), CAST(N'2026-01-17T18:07:44.3730563' AS DateTime2), CAST(N'2026-01-17T20:07:44.3730563' AS DateTime2), 1, CAST(0.00 AS Decimal(18, 2)), NULL, NULL, CAST(N'2026-01-17T18:07:50.1950510' AS DateTime2))
INSERT [dbo].[Bookings] ([BookingId], [RoomId], [CustomerId], [CheckInPlan], [CheckOutPlan], [CheckInAt], [CheckOutAt], [Status], [Deposit], [Note], [CreatedBy], [CreatedAt]) VALUES (2, 7, 1, CAST(N'2026-01-17T18:08:04.6453723' AS DateTime2), CAST(N'2026-01-17T20:08:04.6453723' AS DateTime2), CAST(N'2026-01-17T18:08:04.6453723' AS DateTime2), CAST(N'2026-01-17T20:08:04.6453723' AS DateTime2), 1, CAST(0.00 AS Decimal(18, 2)), NULL, NULL, CAST(N'2026-01-17T18:08:06.7168622' AS DateTime2))
INSERT [dbo].[Bookings] ([BookingId], [RoomId], [CustomerId], [CheckInPlan], [CheckOutPlan], [CheckInAt], [CheckOutAt], [Status], [Deposit], [Note], [CreatedBy], [CreatedAt]) VALUES (3, 5, 1, CAST(N'2026-01-18T00:06:01.6201039' AS DateTime2), CAST(N'2026-01-18T02:06:01.6201039' AS DateTime2), CAST(N'2026-01-18T00:06:01.6201039' AS DateTime2), CAST(N'2026-01-18T02:06:01.6201039' AS DateTime2), 1, CAST(0.00 AS Decimal(18, 2)), NULL, NULL, CAST(N'2026-01-18T00:06:04.6377038' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Bookings] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerId], [FullName], [Phone], [Email], [IdNumber], [Address], [IsMember], [MemberLevel], [Points], [CreatedAt]) VALUES (1, N'Ẩn danh', NULL, NULL, NULL, NULL, 0, NULL, 0, CAST(N'2026-01-17T17:14:47.9916446' AS DateTime2))
INSERT [dbo].[Customers] ([CustomerId], [FullName], [Phone], [Email], [IdNumber], [Address], [IsMember], [MemberLevel], [Points], [CreatedAt]) VALUES (2, N'Nguyễn Đức Dũng', N'0961848536', NULL, NULL, NULL, 0, NULL, 0, CAST(N'2026-01-18T01:05:20.6267531' AS DateTime2))
INSERT [dbo].[Customers] ([CustomerId], [FullName], [Phone], [Email], [IdNumber], [Address], [IsMember], [MemberLevel], [Points], [CreatedAt]) VALUES (3, N'nguyenducnam', N'0333647328', NULL, NULL, NULL, 0, NULL, 0, CAST(N'2026-01-18T01:09:30.0325138' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[EmployeeHourlyRates] ON 

INSERT [dbo].[EmployeeHourlyRates] ([RateId], [Role], [HourlyRate], [IsActive], [UpdatedAt]) VALUES (1, N'Admin', CAST(60000.00 AS Decimal(18, 2)), 1, CAST(N'2026-01-17T21:46:01.9753292' AS DateTime2))
INSERT [dbo].[EmployeeHourlyRates] ([RateId], [Role], [HourlyRate], [IsActive], [UpdatedAt]) VALUES (2, N'Lễ tân', CAST(40000.00 AS Decimal(18, 2)), 1, CAST(N'2026-01-17T21:46:01.9753292' AS DateTime2))
INSERT [dbo].[EmployeeHourlyRates] ([RateId], [Role], [HourlyRate], [IsActive], [UpdatedAt]) VALUES (3, N'Buồng phòng', CAST(35000.00 AS Decimal(18, 2)), 1, CAST(N'2026-01-17T21:46:01.9753292' AS DateTime2))
SET IDENTITY_INSERT [dbo].[EmployeeHourlyRates] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeId], [FullName], [Phone], [Email], [Role], [IsActive], [HiredDate]) VALUES (1, N'Nguyễn Văn Admin', N'0901000001', N'admin@hotel.com', N'Admin', 1, CAST(N'2023-01-01' AS Date))
INSERT [dbo].[Employees] ([EmployeeId], [FullName], [Phone], [Email], [Role], [IsActive], [HiredDate]) VALUES (2, N'Trần Thị Lan', N'0901000002', N'letan@hotel.com', N'Receptionist', 1, CAST(N'2023-02-15' AS Date))
INSERT [dbo].[Employees] ([EmployeeId], [FullName], [Phone], [Email], [Role], [IsActive], [HiredDate]) VALUES (3, N'Lê Văn Toán', N'0901000003', N'ketoan@hotel.com', N'Housekeeping', 1, CAST(N'2023-03-10' AS Date))
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([PaymentId], [BookingId], [Amount], [Method], [PaidAt], [ReceivedBy], [Note]) VALUES (1, 1, CAST(3000000.00 AS Decimal(18, 2)), N'Cash', CAST(N'2026-01-18T01:54:48.7857200' AS DateTime2), 1, NULL)
INSERT [dbo].[Payments] ([PaymentId], [BookingId], [Amount], [Method], [PaidAt], [ReceivedBy], [Note]) VALUES (3, 6, CAST(2400000.00 AS Decimal(18, 2)), N'Cash', CAST(N'2026-01-18T01:59:22.4295161' AS DateTime2), 1, NULL)
INSERT [dbo].[Payments] ([PaymentId], [BookingId], [Amount], [Method], [PaidAt], [ReceivedBy], [Note]) VALUES (4, 3, CAST(1800000.00 AS Decimal(18, 2)), N'Cash', CAST(N'2026-01-18T01:59:39.7407025' AS DateTime2), 1, NULL)
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
SET IDENTITY_INSERT [dbo].[Rooms] ON 

INSERT [dbo].[Rooms] ([RoomId], [RoomCode], [RoomTypeId], [Floor], [IsActive], [RoomStatus], [Note]) VALUES (1, N'301', 1, 3, 1, 0, NULL)
INSERT [dbo].[Rooms] ([RoomId], [RoomCode], [RoomTypeId], [Floor], [IsActive], [RoomStatus], [Note]) VALUES (2, N'302', 3, 3, 1, 0, NULL)
INSERT [dbo].[Rooms] ([RoomId], [RoomCode], [RoomTypeId], [Floor], [IsActive], [RoomStatus], [Note]) VALUES (3, N'303', 3, 3, 1, 0, NULL)
SET IDENTITY_INSERT [dbo].[Rooms] OFF
GO
SET IDENTITY_INSERT [dbo].[RoomTypes] ON 

INSERT [dbo].[RoomTypes] ([RoomTypeId], [TypeName], [BasePrice], [Capacity], [Note]) VALUES (1, N'VIP', CAST(1500000.00 AS Decimal(18, 2)), 2, N'Phòng VIP')
INSERT [dbo].[RoomTypes] ([RoomTypeId], [TypeName], [BasePrice], [Capacity], [Note]) VALUES (2, N'TWN', CAST(900000.00 AS Decimal(18, 2)), 2, N'Phòng Twin')
INSERT [dbo].[RoomTypes] ([RoomTypeId], [TypeName], [BasePrice], [Capacity], [Note]) VALUES (3, N'TRPL', CAST(1200000.00 AS Decimal(18, 2)), 3, N'Phòng Triple')
SET IDENTITY_INSERT [dbo].[RoomTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[StockImportItems] ON 

INSERT [dbo].[StockImportItems] ([ImportItemId], [ImportId], [ItemName], [Unit], [Quantity], [UnitPrice]) VALUES (1, 1, N'Cua đồng', N'con', 50, CAST(20.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[StockImportItems] OFF
GO
SET IDENTITY_INSERT [dbo].[StockImports] ON 

INSERT [dbo].[StockImports] ([ImportId], [EmployeeId], [ImportDate], [SupplierName], [SupplierPhone], [SupplierEmail], [SupplierAddress], [Note], [TotalAmount], [CreatedAt]) VALUES (1, 3, CAST(N'2026-01-18T00:00:00.0000000' AS DateTime2), N'Chợ hải sản', N'0988737459', NULL, NULL, N'nhập hải sản ăn lẩu', CAST(1000.00 AS Decimal(18, 2)), CAST(N'2026-01-18T04:03:20.9938581' AS DateTime2))
SET IDENTITY_INSERT [dbo].[StockImports] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Accounts__536C85E48F4DB0BE]    Script Date: 1/18/2026 11:17:02 PM ******/
ALTER TABLE [dbo].[Accounts] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Accounts__7AD04F10E27BCC87]    Script Date: 1/18/2026 11:17:02 PM ******/
ALTER TABLE [dbo].[Accounts] ADD UNIQUE NONCLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_Attendances_Employee_WorkDate]    Script Date: 1/18/2026 11:17:02 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Attendances_Employee_WorkDate] ON [dbo].[Attendances]
(
	[EmployeeId] ASC,
	[WorkDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Bookings_CheckInPlan_CheckOutPlan]    Script Date: 1/18/2026 11:17:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_Bookings_CheckInPlan_CheckOutPlan] ON [dbo].[Bookings]
(
	[CheckInPlan] ASC,
	[CheckOutPlan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Bookings_RoomId_Status]    Script Date: 1/18/2026 11:17:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_Bookings_RoomId_Status] ON [dbo].[Bookings]
(
	[RoomId] ASC,
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CashTransactions_Date]    Script Date: 1/18/2026 11:17:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_CashTransactions_Date] ON [dbo].[CashTransactions]
(
	[TransactionDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Employee__7AD04F10AB1E7798]    Script Date: 1/18/2026 11:17:02 PM ******/
ALTER TABLE [dbo].[EmployeeHourlyRateOverrides] ADD UNIQUE NONCLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Employee__DA15413E32565DFB]    Script Date: 1/18/2026 11:17:02 PM ******/
ALTER TABLE [dbo].[EmployeeHourlyRates] ADD UNIQUE NONCLUSTERED 
(
	[Role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payments_PaidAt]    Script Date: 1/18/2026 11:17:02 PM ******/
CREATE NONCLUSTERED INDEX [IX_Payments_PaidAt] ON [dbo].[Payments]
(
	[PaidAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Rooms__4F9D52318E7656B6]    Script Date: 1/18/2026 11:17:02 PM ******/
ALTER TABLE [dbo].[Rooms] ADD UNIQUE NONCLUSTERED 
(
	[RoomCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT ((0)) FOR [IsLocked]
GO
ALTER TABLE [dbo].[Attendances] ADD  CONSTRAINT [DF_Attendances_MarkedAt]  DEFAULT (sysutcdatetime()) FOR [MarkedAt]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ((0)) FOR [Deposit]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CashTransactions] ADD  DEFAULT (sysdatetime()) FOR [TransactionDate]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ((0)) FOR [IsMember]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ((0)) FOR [Points]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[EmployeeHourlyRateOverrides] ADD  CONSTRAINT [DF_EHRO_Active]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[EmployeeHourlyRateOverrides] ADD  CONSTRAINT [DF_EHRO_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[EmployeeHourlyRates] ADD  CONSTRAINT [DF_EHR_Active]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[EmployeeHourlyRates] ADD  CONSTRAINT [DF_EHR_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ('Staff') FOR [Role]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT ('Cash') FOR [Method]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (sysdatetime()) FOR [PaidAt]
GO
ALTER TABLE [dbo].[PayRuns] ADD  CONSTRAINT [DF_PayRuns_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT ((0)) FOR [RoomStatus]
GO
ALTER TABLE [dbo].[RoomTypes] ADD  DEFAULT ((1)) FOR [Capacity]
GO
ALTER TABLE [dbo].[Services] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ServiceUsages] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[ServiceUsages] ADD  DEFAULT (sysdatetime()) FOR [UsedAt]
GO
ALTER TABLE [dbo].[StockImports] ADD  CONSTRAINT [DF_StockImports_ImportDate]  DEFAULT (sysutcdatetime()) FOR [ImportDate]
GO
ALTER TABLE [dbo].[StockImports] ADD  CONSTRAINT [DF_StockImports_Total]  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[StockImports] ADD  CONSTRAINT [DF_StockImports_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [FK_Accounts_Employees] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeId])
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [FK_Accounts_Employees]
GO
ALTER TABLE [dbo].[Attendances]  WITH CHECK ADD  CONSTRAINT [FK_Attendances_Employees] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeId])
GO
ALTER TABLE [dbo].[Attendances] CHECK CONSTRAINT [FK_Attendances_Employees]
GO
ALTER TABLE [dbo].[Attendances]  WITH CHECK ADD  CONSTRAINT [FK_Attendances_MarkedBy] FOREIGN KEY([MarkedBy])
REFERENCES [dbo].[Employees] ([EmployeeId])
GO
ALTER TABLE [dbo].[Attendances] CHECK CONSTRAINT [FK_Attendances_MarkedBy]
GO
ALTER TABLE [dbo].[BookingGuests]  WITH CHECK ADD  CONSTRAINT [FK_BookingGuests_Bookings] FOREIGN KEY([BookingId])
REFERENCES [dbo].[Bookings] ([BookingId])
GO
ALTER TABLE [dbo].[BookingGuests] CHECK CONSTRAINT [FK_BookingGuests_Bookings]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Customers]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Employees] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Employees] ([EmployeeId])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Employees]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Rooms] FOREIGN KEY([RoomId])
REFERENCES [dbo].[Rooms] ([RoomId])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Rooms]
GO
ALTER TABLE [dbo].[CashTransactions]  WITH CHECK ADD  CONSTRAINT [FK_CashTransactions_Employees] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Employees] ([EmployeeId])
GO
ALTER TABLE [dbo].[CashTransactions] CHECK CONSTRAINT [FK_CashTransactions_Employees]
GO
ALTER TABLE [dbo].[EmployeeHourlyRateOverrides]  WITH CHECK ADD  CONSTRAINT [FK_EHRO_Employees] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeId])
GO
ALTER TABLE [dbo].[EmployeeHourlyRateOverrides] CHECK CONSTRAINT [FK_EHRO_Employees]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Bookings] FOREIGN KEY([BookingId])
REFERENCES [dbo].[Bookings] ([BookingId])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Bookings]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Employees] FOREIGN KEY([ReceivedBy])
REFERENCES [dbo].[Employees] ([EmployeeId])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Employees]
GO
ALTER TABLE [dbo].[PayRunDetails]  WITH CHECK ADD  CONSTRAINT [FK_PayRunDetails_Employees] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeId])
GO
ALTER TABLE [dbo].[PayRunDetails] CHECK CONSTRAINT [FK_PayRunDetails_Employees]
GO
ALTER TABLE [dbo].[PayRunDetails]  WITH CHECK ADD  CONSTRAINT [FK_PayRunDetails_PayRuns] FOREIGN KEY([PayRunId])
REFERENCES [dbo].[PayRuns] ([PayRunId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PayRunDetails] CHECK CONSTRAINT [FK_PayRunDetails_PayRuns]
GO
ALTER TABLE [dbo].[PayRuns]  WITH CHECK ADD  CONSTRAINT [FK_PayRuns_Employees] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Employees] ([EmployeeId])
GO
ALTER TABLE [dbo].[PayRuns] CHECK CONSTRAINT [FK_PayRuns_Employees]
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD  CONSTRAINT [FK_Rooms_RoomTypes] FOREIGN KEY([RoomTypeId])
REFERENCES [dbo].[RoomTypes] ([RoomTypeId])
GO
ALTER TABLE [dbo].[Rooms] CHECK CONSTRAINT [FK_Rooms_RoomTypes]
GO
ALTER TABLE [dbo].[ServiceUsages]  WITH CHECK ADD  CONSTRAINT [FK_ServiceUsages_Bookings] FOREIGN KEY([BookingId])
REFERENCES [dbo].[Bookings] ([BookingId])
GO
ALTER TABLE [dbo].[ServiceUsages] CHECK CONSTRAINT [FK_ServiceUsages_Bookings]
GO
ALTER TABLE [dbo].[ServiceUsages]  WITH CHECK ADD  CONSTRAINT [FK_ServiceUsages_Services] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Services] ([ServiceId])
GO
ALTER TABLE [dbo].[ServiceUsages] CHECK CONSTRAINT [FK_ServiceUsages_Services]
GO
ALTER TABLE [dbo].[StockImportItems]  WITH CHECK ADD  CONSTRAINT [FK_StockImportItems_StockImports] FOREIGN KEY([ImportId])
REFERENCES [dbo].[StockImports] ([ImportId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StockImportItems] CHECK CONSTRAINT [FK_StockImportItems_StockImports]
GO
ALTER TABLE [dbo].[StockImports]  WITH CHECK ADD  CONSTRAINT [FK_StockImports_Employees] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeId])
GO
ALTER TABLE [dbo].[StockImports] CHECK CONSTRAINT [FK_StockImports_Employees]
GO
USE [master]
GO
